@import url("reset.css");
@import url("common.css");
@import url("jquery.bxslider.css");


.wmax #contents{margin: 34px 0 0 0;}
.wmax #contents h2{color:#222;font-size:20px;font-weight:700;margin: 30px 0 0 0;}

/* main_s1 */
.wmax #contents .theme_area{position:relative;}
.wmax #contents .theme_area .main_s1{position:relative;width:100%;margin-bottom: 20px;}
.wmax #contents .theme_area .main_s1 ul{width:100%;}
.wmax #contents .theme_area .main_s1 ul li{position:relative;width:100%;}
.wmax #contents .theme_area .main_s1 ul li a{position:relative;display:block;color: #222;}
.wmax #contents .theme_area .main_s1 ul li a .img{position:relative;top:0;left:0;width: 100%;}
.wmax #contents .theme_area .main_s1 ul li a span{position:absolute;bottom:0px;left:0;display: block; width:852px;line-height: 76px;padding-left: 30px; background:url(/echannel/images/common/bg_s1.png) repeat-x 0 0;font-size:16px;font-weight:700;}
.wmax #contents .theme_area .main_s1 .s1_control{position:absolute;bottom:49px;right:8px;}
.wmax #contents .theme_area .main_s1 .s1_control img{width: 15px;}

/* main_s2 */
.wmax #contents .theme_area .main_s2{width:882px;overflow: hidden;}
.wmax #contents .theme_area .main_s2 ul{width:930px;}
.wmax #contents .theme_area .main_s2 ul li{float: left;margin-right: 18px;}
.wmax #contents .theme_area .main_s2 ul li a{width:276px;position: relative; display: block;border: 3px solid #f7921e;color: #222;}
.wmax #contents .theme_area .main_s2 ul li a .img{width:276px;}
.wmax #contents .theme_area .main_s2 ul li a span{display: block; width:276px;line-height:32px; background: #f7921e;font-size: 13px;color: #222;text-align: center;font-weight:700;}
.wmax #contents .theme_area .main_s2 ul li a .btn_play{position: absolute;top:40%;left:43%;width:48px;}
.wmax #contents .theme_area .main_s2 .s2_control{display: none;}


/* 20211223-�����߰� */
.wmax #contents .notice_box {margin:30px 0 40px 0; padding:17px 0; border:1px solid #e8e8e8;}
.wmax #contents .notice_box:after {display:block; content:""; clear:both;}
.wmax #contents .notice_box h2 {float:left; margin-left:20px; font-size:18px; font-weight:bold; letter-spacing:-2px; color:#3b3b3b;margin-top: 0; }
.wmax #contents .notice_slider {float:left; margin-left:50px;}
.wmax #contents .notice_slider ul li {width:600px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:150%; }
.wmax #contents .notice_slider ul li a {color:#474747; border-color: #f7921e;}

/* Now on TV */
.wmax #contents .Now_on_TV ul{width:880px;height:48px;border: 1px solid #dbdbdb;margin: 15px 0 30px 0;}
.wmax #contents .Now_on_TV ul li{position:relative;float: left;width:290px;height:48px;}
.wmax #contents .Now_on_TV ul li .img{position: absolute;top:0;left:0;width: 70px;height:48px;float: left;}
.wmax #contents .Now_on_TV ul li a{position: relative;top:0;left:0;display: block; font-size: 12px; color: #555;line-height: 20px;padding: 5px 0 0 85px;}
.wmax #contents .Now_on_TV ul li a span{display: block;}
.wmax #contents .Now_on_TV ul li.center a{font-size: 12px;font-weight: 700; color: #cb0e13;}
.wmax #contents .Now_on_TV ul li a .on_air{width: 44px;margin: 0 5px -5px 0;}
.wmax #contents .Now_on_TV ul li a .btn_main_play{position: absolute;top:11px;left:20px;width: 29px;}

.wmax #contents .Now_on_TV ul li p{position: relative;top:0;left:0;display: block; font-size: 12px; color: #555;line-height: 20px;padding: 5px 0 0 85px;}
.wmax #contents .Now_on_TV ul li p span{display: block;}
.wmax #contents .Now_on_TV ul li.center p{font-size: 12px;font-weight: 700; color: #cb0e13;}
.wmax #contents .Now_on_TV ul li p .on_air{width: 44px;margin: 0 5px -5px 0;}
.wmax #contents .Now_on_TV ul li p .btn_main_play{position: absolute;top:11px;left:20px;width: 29px;}

/* ���� ��� */
.wmax #contents .main_banner{border: 1px solid #dbdbdb;clear: both;}
.wmax #contents .main_banner img{width: auto;}

/* vod list */
.wmax #contents .vod_area{width:882px;}
.wmax #contents .vod_area ul{width:902px;overflow:hidden;}
.wmax #contents .vod_area ul li{margin:15px 18px 0 0;float:left;width:207px;position: relative;}
.wmax #contents .vod_area ul li a{color:#333;}
.wmax #contents .vod_area ul li a:hover span{text-decoration:underline;}
.wmax #contents .vod_area ul li a span{display:block;}
.wmax #contents .vod_area ul li a span.h6{color:#333;font-weight:700;margin: 20px 0 5px 0;line-height: 12px;}
/* .wmax #contents .vod_area ul li a span.tit1{color:#333;font-weight:700;margin: 10px 0 5px 0;line-height: 12px;} */
.wmax #contents .vod_area ul li a span.tit2{color:#555;margin: 0 0 23px 0;line-height: 18px;}
.wmax #contents .vod_area ul li a span.tit3{color:#555;line-height: 12px;}
.wmax #contents .vod_area ul li img{width:207px;height:153px;}
.wmax #contents .vod_area p.more{display:none;}
.wmax #contents .vod_area ul li a.list_play_btn{position: absolute;top:0;left:0;width:207px;height:153px;}
.wmax #contents .vod_area ul li a.list_play_btn img{width: 38px;height: 39px;margin: 60px 0 0 83px ;}
/* vod list */
.wmax #contents .vod_area2{width:882px;}
.wmax #contents .vod_area2 ul{width:902px;overflow:hidden;}
.wmax #contents .vod_area2 ul li{margin:15px 18px 0 0;float:left;width:207px;}
.wmax #contents .vod_area2 ul li a{color:#333;}
.wmax #contents .vod_area2 ul li a:hover span{text-decoration:underline;}
.wmax #contents .vod_area2 ul li a span{display:block;}
.wmax #contents .vod_area2 ul li a span.h6{color:#333;font-weight:700;margin: 20px 0 5px 0;line-height: 12px;}
.wmax #contents .vod_area2 ul li a span.tit2{color:#555;margin: 0 0 23px 0;line-height: 18px;}
.wmax #contents .vod_area2 ul li a span.tit3{color:#555;line-height: 12px;}
.wmax #contents .vod_area2 ul li img{width:207px;height:153px;}
.wmax #contents .vod_area2 p.more{display:none;}















